  /*Variable disposition*/
:root{
  --standartspace:0.9em;
  --content-padding:5px;
  --font:"Comfortaa-Regular.ttf";
}
  /*Variables Colors images*/
  :root{
    --main-bg-color:#333;
    --main-clear-color:#f5f6f7;
    --vinrouge-color:#663333;
    --vinblanc-color:#ccff33;
    --vinrose-color:#ffcccc;
    --blancmoelleux-color:#ffcc33;
    --champagne-color:#fad6a5;
    --rs-bckgrnd-img:url("../img/menu_rs.png");
  }
    /*Fonts*/
  @fontface{
    font-family:"comfortaa";
    src:url("public/css/fonts/Comfortaa-Regular.ttf");
  }

body {
  font-family: "comfortaa";
    margin: 0;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    display: grid; /*Transforme la balise body en contenur grid*/
    grid-template-rows: auto auto 1fr auto;
    /*défini la hauteur que les lignes de la grille doivent occuper. Auto correspond à la hauteur par défaut de la ligne (en fonction de ce qu'il y a dedans donc). Fr (fraction) permet d'occuper l'espace restant*/
     /*vh (pour viewport height) permet de s'assurer que le body fera bien toute la hauteur de la surface d'affichage du navigateur*/
    max-width: 100vw;
    height: 100vh;
    gap: var(--standartspace);
  }


  /*Header*/
  header{
    background:var(--main-clear-color);
    color: var(--vinrouge-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header H1, header p{
    text-align: center;
  }
  header H1{
    font-family: Times, Times New Roman, serif;
  }
  .logo{
    margin:0 8px 0  8px;
    height: 90px;
  }
  h1>span{
    display: block;
    font-style: normal;
    font-weight: lighter;
    font-family: "comfortaa",Verdana, Geneva, Tahoma, sans-serif;
  }
  /*.logo{display:none;}*/
  @media only screen and (max-width: 600px){
    .logo{display:none;}
   /* header{
      background-image:linear-gradient(rgb(32, 7, 7),rgba(32, 7, 7, 0.493)), url(/public/img/main-logo.png);
      background-repeat:no-repeat;
      background-position:50% 50%;
      background-size: contain; 
    }*/
  }

  /*End header*/
/**********************/
  /*MENUS*/
/**********************/
  /*mainMenu*/
/**********************/
  .responsiveMenu {
    overflow: hidden;
    background-color: #333;
  }
  
  .responsiveMenu a {
    float: left;
    display: block;
    color: var(--main-clear-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .responsiveMenu a:hover {
    background-color: #ddd;
    color: var(--vinrouge-color);
    text-decoration: underline;
  }
  
  .responsiveMenu a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .responsiveMenu .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .responsiveMenu a:not(:first-child) {display: none;}
    .responsiveMenu a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .responsiveMenu.responsive {position: relative;}
    .responsiveMenu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .responsiveMenu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  /*#responsiveMenu{
    position: fixed;
    top: 0%;
    right: 0;
  }*/
  /*Texte information*/
  .information{
    padding: var(--content-padding);
    background-color: var(--main-clear-color);
  }
    /*End mainMENUS*/
/**********************/
  /*Main*/
  /**********************/
  main{
    justify-self: center;
    max-width :800px;
  }
  /*p{
    max-width:600px;
    margin: auto;
  }*/
  .picto-lien{
    height: 120px;
  }
  /*endMain*/
  /**********************/
  /*Titres*/
  h2,h3{
    color: var(--vinrouge-color);
  }
  h2{
    text-decoration: underline solid;
  }
  h3{
    text-decoration: overline solid;
  }
  h4{
    color: var(--vinrouge-color);
    text-align: center;
    text-decoration: underline overline solid 0.3px;
  }
  h5{
    border-radius: 5px;
    background-color: var(--main-bg-color);
    padding-left: var(--content-padding);
    margin:var(--content-padding);
  }
  .blanc h5,.blanc .prices .packaging .quantite{
    background-color:var(--vinblanc-color)
  }
  .rosé h5,.rosé .prices .packaging .quantite{
    background-color: var(--vinrose-color);
  }
  .rouge h5,.rouge .prices .packaging .quantite{
    background-color: var(--main-clear-color);
    color: var(--vinrouge-color);
  }
  .moelleux h5,.moelleux .prices .packaging .quantite{
    background-color:var(--blancmoelleux-color);
  }
  .méthode h5, .méthode .prices .packaging .quantite{
    background-color:var(--champagne-color);
  }
   
  /*Fin Titres*/
  /**********************/
  /**********************/
  /*Présentation*/
  .presentation{
    display: flex;
    justify-content: flex-start;
    margin:var(--standartspace);
  }
  .presentation span{
    display: flex;
    flex-grow: 2;
  }
  .lien{
    text-decoration: none;
    /*background-color:var(--main-clear-color);*/
    color: var(--vinrouge-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lien:hover{
    border-style:solid;
    background-color:var(--vinrose-color);
  }
  .lien img{
    height: 70px;
  }
  .lien,.presentation span{
    border-radius: 2px;
    padding: 5px;
    margin-left:var(--standartspace);
  }
  .lien:hover{
    background-color: var(--main-clear-color);
    text-decoration: underline;
    border: none;
  }

  /*end presentation*/
  /**********************/
  /**********************/
  /*CATALOGUE*/
  .showcase{
    width: fit-content;
    padding: 5px;
  }
  .product{
    margin: 10px;
    padding: var(--content-padding);
    border:1px solid var(--main-clear-color);
  }
  .detailsvin {
    display: flex;
  }
  .imgcatalog{
    width: 90px;
    margin: auto;
  }
  .detailsvin p{
    font-size: small;
    border: solid 0.5px var(--vinblanc-color);
    border-radius: 0.5em;
    text-align: center;
  }
  .prices{
    display:flex;
 
    justify-content: space-between;
    flex-wrap: wrap;
  }
  /********************/
  /*Tableaux de prix*/
  .packaging{
    font-size: 0.8em;
    display:inline;
    text-align: center;
    border: 1px solid var(--main-bg-color);
  }
  /*.quantite{
    color: var(--main-clear-color);
  }Qualifié dans les titres*/
  .price{
    background-color: var(--main-clear-color);
    color: var(--main-bg-color);
  }
  thead{
    background-color:var(--main-bg-color);
  }
  /*end Tableaux de prix*/
  /********************/
  .conditionsvente{
    background-color: var(--main-clear-color);
    height:8em;
    overflow: auto;
    font-size: 0.8rem;
    line-height: 100%;
  }
  /*End CATALOGUE*/
/**********************/
/**********************/
/*TOURNEE*/
/**********************/
/*Carte*/
#map {
  max-width:700px;
  height: 500px;
  }
/*End Carte*/
/**********************/
/**********************/
/*Tableau dates*/
.tourtable{
  border:solid 0.4px;
}
.tourtable tr:nth-child(odd){
  background-color: var(--main-bg-color);
  color: whitesmoke;
}
.tourtable tr:nth-child(even){
  background-color: var(--main-clear-color);
}
/*End Tableau dates*/
/**********************/
/*End TOURNEE*/
/**********************/
/**********************/
/*CONTACT*/
/*reuse of .presentation no proper css for instant*/
/*endCONTACT*/
/**********************/
/**********************/
/*Footer*/
footer{
  color:var(--main-clear-color);
}
    /*footerNav*/
    #sitemap{
      background-color:var(--main-bg-color);
      margin-bottom: 5px ;
    }
    #sitemap h2,#sitemap h3{
      color: white;
    }
    .footerNav{
      background-color:var(--main-bg-color);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: var(--standartspace);
    }
    .navfooterbloc{
      margin-bottom: var(--standartspace);
    }
    .navfooterbloc a{
      display: block;
      text-decoration: none;
      color: var(--main-clear-color);
      /**/
    }
    .navfooterbloc a:hover{
      text-decoration: underline;
      color: var(--vinrose-color);
    }
    /* end footerNav*/
/**********************/
/**********************/
    /*RSmenu*/

/*Block nav rs*/
.nav-rs{
  background-color:var(--main-clear-color);
  display: flex;
  justify-content:center;
}
.nav-rs a{
  display: inline-block;
}
.rs{
height: 30px;
width: 30px;
background-image: url("../img/logo-rs_30px.png");
background-position-y:0;
margin: var(--standartspace);
}
.rs:hover{
  background-position-y:-30px;
  }
.facebook{
background-position-x:0;
}
.instagram{
background-position-x:-30px;
}
.linkedin{
background-position-x:-60px;
}
/*End RSmenu*/
/**********************/
/*end footer*/
/**********************/